.Background {
  background-color: #ffffff;
  /* border: 1px solid red; */
  height: 100vh;
}

.Font-Weight {
  font-weight: 500px;
}

.drop {
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
}
.drop:hover {
  color: white;
  background-color: #007fff;
}

.cursor {
  cursor: pointer;
}

.plus {
  color: #9ca3af;
  font-size: 17px;
  font-weight: 300;
}

.plus:hover {
  color: #535559;
}

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

#AllProducts-media {
  background-color: #ffffff;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

/* top:"65px",backgroundColor:"#e2eaf1",zIndex:"1" */

.all-btn {
  background-color: #0066b2;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
}

.all-btn:hover {
  background-color: #318ce7;
  color: white;
}

.sort-button {
  font-size: 20px;
  font-weight: 500;
  background-color: none;
}

.sort-button:hover {
  background-color: #2f3940;
  color: white;
}

.cursor-not {
  cursor: not-allowed;
}

// .card {
//   width: 15.8rem;
//   border: none;
// }

// @media screen and (max-width: 1199px) {
//   .card {
//     width: 13rem;
//   }
// }

// @media screen and (max-width: 992px) {
//   .card {
//     width: 14rem;
//   }
// }

// @media screen and (max-width: 748px) {
//   .card {
//     width: 18rem;
//   }
// }

// @media screen and (max-width: 540px) {
//   .card {
//     width: 19rem;
//   }
// }

// @media screen and (max-width: 496px) {
//   .card {
//     width: 200px;
//   }
// }

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #cccccc;
}
::-webkit-scrollbar-thumb {
  background-color: #454545;
}

.box {
  border: 1px solid #cccc;
  border-radius: 7px;
}

#Admin-Button {
  color: #0066b2;
  border: none;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  border: 1px solid;
  border-radius: 7px;
}

.image {
  overflow: hidden;
  position: relative;
  height: 230px;
  width: 100%;

  &:hover {
    .img-2 {
      z-index: 2;
    }
  }
  img {
    height: 230px;
    height: 100%;
    position: absolute;
  }

  .img {
    z-index: 1;
  }
}

#banner1 {
  background-image: url(/public/images/laptopBanner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 470px;
}

#banner2 {
  background-image: url(/public/images/mobileBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 470px;
}

#bannerMobile1 {
  background-image: url(/public/images/laptopBanner2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}

#bannerMobile2 {
  background-image: url(/public/images/mobilebanner2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}

.ProductNameFont {
  font-size: 25px;
  font-weight: 700;
}
